@import "./../../styles/base.scss";

.total-card {
    box-sizing: border-box;
    min-height: 150px;
    border-radius: 8px;
    background-color: white;
    border-left: 8px solid #00c853;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        align-self: flex-end;
        font-size: 40px;
        color: $dark-blue;
    }

    span#large {

        @media (min-width: 1200px) and (max-width: 1550px) {
            font-size: 30px;
        }
    }

    span#text {
        font-size: 18px;
    }
}