@import "./../../styles/base.scss";

#sidebar {
    background-color: $gray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 250px;
    padding: 15px;
    height: 100vh;
    position: sticky;
    top: 0;

    .link-main {
        padding-top: 10px;
    }

    .span {
        color: $white-blue-transparent;
        text-align: center;
        font-size: 11px;
    }

    .nav {
        margin-top: 60px;

        .active {

            button {
                //background-color: #2e5daa;
                font-weight: 900;
            }
        }
    }

    .link-footer {
        height: 80px;
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;

        img {
            height: 100%;
        }
    }

    @media (min-width: 960px) {
    }
}